*{
    padding: 0;
    margin:0;

}
body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.haut{
    background-color: blueviolet;
    width: 100%;
    height:30% ;


}
.bas{
    background-color: rgb(190, 156, 222);
    width: 100%;
    height: 80%;
}
.container{
    position: relative;
    width: 800px;
    height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   ;
}
.card{
    width: 50%;
    height: 60%;
    background-color: white;
    position: absolute;
    border-radius: 15px
}
.cards{
    font-weight: 700;
   
}
h1{
    margin-left: 50px;
    font-weight: 700;
}
.paragraphe{
font-weight: 400;
color: rgb(176, 166, 166);
}
hr{
    height: 1px;
    color: rgb(236, 230, 230);
    width: 80%;
    
}
.ligne{
    display: flex;
    justify-content: center;
}
button{
    color: white;
    border-radius:50%;
    background-color: blueviolet;
    border: none;
}
